<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'bundles/hoteladmin/css/bootstrap.min.css'
                'bundles/hoteladmin/css/bootstrap-datepicker.min.css'
                'bundles/hoteladmin/js/*'
                filter="cssrewrite"
                output='assets/css/compiled.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Latest compiled and minified CSS -->


    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">


            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('home_page') }}">Main Page</a></li>
                    <li class="dropdown">
                        <a href="{{ path('room') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rooms <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('room_new') }}">New</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('reservation') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reservations <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('reservation_new') }}">New</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('floor') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Floors <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('floor_new') }}">New</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{{ path('news') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">News <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('news_new') }}">New</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('fos_user_success') %}

        {{ flashMessage }}

        {% endfor %}
        {% block body %}{% endblock %}
    </div>

        {% block javascripts %}
            <script src="{{ asset('bundles/hoteladmin/js/external/jquery/jquery.js') }}"></script>
            <script src="{{ asset('bundles/hoteladmin/js/jquery-ui.min.js') }}"></script>
            {#<script src="{{ asset('bundles/hoteladmin/js/ckeditor/ckeditor.js') }}"></script>#}
            <script src="//cdn.ckeditor.com/4.5.1/standard/ckeditor.js"></script>
            <script>
                $( document ).ready(function() {

//                    CKEDITOR.replace( 'hotel_adminbundle_news[title]' );

                    $(function() {
                        $( "#hotel_adminbundle_reservation_startReservation" ).datepicker({
                            defaultDate: "+1w",
                            dateFormat: 'yy-mm-dd',
                            minDate: new Date(),
                            onClose: function( selectedDate ) {
                                $( "#hotel_adminbundle_reservation_endReservation" ).datepicker( "option", "minDate", selectedDate );
                            }
                        });
                        $( "#hotel_adminbundle_reservation_endReservation" ).datepicker({
                            defaultDate: "+1w",
                            dateFormat: 'yy-mm-dd',
                            onClose: function( selectedDate ) {
                                $( "#hotel_adminbundle_reservation_startReservation" ).datepicker( "option", "maxDate", selectedDate );
                            }
                        });
                    });
                    if($("#hotel_adminbundle_news_description").length !== 0) {
                        CKEDITOR.replace( 'hotel_adminbundle_news_description' );
                    }

                });
            </script>
        {% endblock %}
    </body>
</html>
