{% extends '::base.html.twig' %}

{% block body -%}
    <ul>
        <li>
            <a href="{{ path('reservation_new') }}">Create a new entry</a>
        </li>
        <li>
            <a href="{{ path('reservation', { 'status': 'archive' }) }}">Archive</a>
        </li>
        <li>
            <a href="{{ path('reservation', { 'status': 'all' }) }}">All</a>
        </li>
        <li>
            <a href="{{ path('reservation', { 'status': 'current' }) }}">Current</a>
        </li>
    </ul>
    <h1>Reservation list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reserveddate</th>
                <th>Start Reservation</th>
                <th>End Reservation</th>
                <th>Services</th>
                <th>Client Details</th>
                <th>Room Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.reservedDate %}{{ entity.reservedDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.startReservation %}{{ entity.startReservation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.endReservation %}{{ entity.startReservation|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {% for service in entity.services %}
                        <span>{{ service }}</span>
                    {% endfor %}
                </td>
                <th>
                    <ul>
                        <li><span>Name: </span>{{ entity.user.name }}</li>
                        <li><span>Surname: </span>{{ entity.user.surname }}</li>
                        <li><span>Email: </span>{{ entity.user.email }}</li>
                        <li><span>Adress: </span>{{ entity.user.adress }}</li>
                    </ul>
                </th>
                <th>
                    <ul>
                        <li><span>Number Of People: </span>{{ entity.room.numberOfPeople }}</li>
                        <li><span>Room Number: </span>{{ entity.room.roomNumber }}</li>
                    </ul>
                </th>

                <td>
                <ul>
                    <li>
                        <a href="{{ path('reservation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ knp_pagination_render(entities) }}



    {% endblock %}
