{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Reservation list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reserveddate</th>
                <th>Start Reservation</th>
                <th>End Reservation</th>
                <th>Services</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('reservation_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.reservedDate %}{{ entity.reservedDate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.startReservation %}{{ entity.startReservation|date('Y-m-d') }}{% endif %}</td>
                <td>{% if entity.endReservation %}{{ entity.startReservation|date('Y-m-d') }}{% endif %}</td>
                <td>
                    {% for service in entity.services %}
                        <span>{{ service }}</span>
                    {% endfor %}
                </td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('reservation_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('reservation_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('reservation_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
